extends layout.pug
block content
  each f in flash
    if f.includes('User update failed')
      .alert.alert-danger(role='alert') #{f}
    if f.includes('User update successful')
      .alert.alert-success(role='alert') #{f}
    if f.includes('Registration successful')
      .alert.alert-success(role='alert') #{f}
    if f.includes('Password update error')
      .alert.alert-danger(role='alert') #{f}
    if f.includes('Password updated successfully')
      .alert.alert-success(role='alert') #{f}
  p
    h5 Users
  if users
    table.table.table-hover
      thead
        tr
          th(scope='col') Id
          th(scope='col') First name
          th(scope='col') Last name
          th(scope='col') E-Mail
          th(scope='col') Role
          th(scope='col') Status
          th(scope='col') Action
      tbody
        each user in users
          tr
            td #{user['id']}
            td #{user['firstName']}
            td #{user['lastName']}
            td #{user['username']}
            td #{user['role']}
            td #{user['status']}
            td
              a(href='/users/' + user['id']) Edit
  else
    h5 No users
