extends layout.pug
block content
  p
    h5 Users
  if flashUpdateError.includes('User update failed')
    .alert.alert-danger(role='alert')
      | #{flashUpdateError}
  if flashUpdateSuccess.includes('User update successful')
    .alert.alert-success(role='alert')
      | #{flashUpdateSuccess}
  if flashRegisterSuccess.includes('Registration successful')
    .alert.alert-success(role='alert')
      | #{flashRegisterSuccess}
  if flashPasswordUpdateError.includes('Password update error')
    .alert.alert-danger(role='alert')
      | #{flashPasswordUpdateError}
  if flashPasswordUpdateSuccess.includes('Password updated successfully')
    .alert.alert-success(role='alert')
      | #{flashPasswordUpdateSuccess}
  if result
    table.table.table-hover
      thead
        tr
          th(scope='col') Id
          th(scope='col') First name
          th(scope='col') Last name
          th(scope='col') E-Mail
          th(scope='col') Role
          th(scope='col') Status
          th(scope='col') Action
      tbody
        each res in result
          tr
            td #{res['id']}
            td #{res['firstName']}
            td #{res['lastName']}
            td #{res['username']}
            td #{res['role']}
            td #{res['status']}
            td
              a(href='/users/' + res['id']) Edit
  else
    h5 No users
